.forrest-gump {
  & {
    perspective: 800px;
    perspective-origin: 50% 25%;
    background-color: var(--bg);
    color: var(--text);
  }

  h1,
  h4 {
    position: absolute;
    right: 0;
    bottom: 51px;
    left: 0;
    font-size: 33px;
    text-align: center;
  }

  h1 {
    bottom: 51px;
    font-size: 33px;
    letter-spacing: 1px;
  }

  h4 {
    bottom: 34px;
    font-size: 13px;
    font-weight: normal;
  }

  @keyframes spin {
    from {
      transform: translateZ(115px) translateY(-140px) rotateY(-45deg);
    }
    to {
      transform: translateZ(115px) translateY(-140px) rotateY(45deg);
    }
  }

  .park-bench {
    position: absolute;
    top: 333px;
    left: 135px;
    width: 230px;
    height: 230px;
    transform-style: preserve-3d;
    animation: spin 15s infinite ease-in-out alternate;
  }

  .park-bench {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 230px;
    height: 230px;
    margin-left: -115px;
    margin-top: -115px;
    transform-style: preserve-3d;
  }

  .plank {
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: var(--text);
  }

  .plank-1 {
    transform: rotateX(-180deg) translateZ(0) translateY(-132px);
  }

  .plank-2 {
    transform: rotateX(-180deg) translateZ(0) translateY(-146px);
  }

  .plank-3 {
    transform: rotateX(-180deg) translateZ(0) translateY(-160px);
  }

  .plank-4 {
    height: 46px;
    transform: rotateX(-90deg) translateZ(160px) translateY(0) translateY(-29px);
  }

  .leg {
    position: absolute;
    width: 11px;
    height: 105px;
    background-color: var(--text);
  }

  .leg-1 {
    transform: rotateX(-180deg) translateZ(0) translateY(-122px)
      translateX(25px);
  }

  .leg-2 {
    transform: rotateX(-180deg) translateZ(0) translateY(-122px)
      translateX(191px);
  }

  .leg-3 {
    height: 45px;
    transform: rotateX(-180deg) translateZ(-50px) translateY(-182px)
      translateX(25px);
  }

  .leg-4 {
    height: 45px;
    transform: rotateX(-180deg) translateZ(-50px) translateY(-182px)
      translateX(191px);
  }
}
