.Up {
  --globe-size: 100px;
  --globe-green: #9c3;
  --globe-yellow: #ff0;
  --globe-pink: #f06;

  & {
    background-color: #009fe3;
  }

  .home {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 194px;
    height: 100px;
    transform: translate(-50%, -50%);
  }

  .home__title {
    font-family: Arial;
    font-weight: bold;
    color: #fff;
    font-size: 138px;
    line-height: 100px;
  }

  .title {
    display: none;
  }

  .globes {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 237px;
    height: 276px;
  }

  .globe {
    position: absolute;
    width: var(--globe-size);
    height: var(--globe-size);
    border-radius: 100% 100% 0;
    /* transform: rotateZ(45deg); */
  }

  .rope {
    position: absolute;
    top: 100%;
    height: 1px;
    background-color: #fff;
  }

  /* .green {
    top: 30px;
    left: 0;
    background-color: var(--globe-green);

    &:after {
      width: 130px;
      height: 1px;
    }
  }

  .yellow {
    top: 30px;
    left: 72px;
    background-color: var(--globe-yellow);

    &:after {
      width: 115px;
      height: 1px;
    }
  }

  .pink {
    top: 0px;
    right: 0;
    background-color: var(--globe-pink);

    &:after {
      width: 155px;
      height: 1px;
    }
  } */
}
