.Up {
  --green: #9c3;
  --yellow: #ff0;
  --pink: #f06;
  --globe: 100px;
  --size: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-color: var(--bg);

  .scene {
    zoom: 0.7;
    width: var(--size);
    display: flex;
    flex-direction: column;
  }

  .title {
    visibility: hidden;
  }

  @media (min-width: 400px) {
    .scene {
      zoom: 1;
    }
  }

  .UP {
    font-family: Arial;
    font-weight: bold;
    color: var(--text);
    font-size: 138px;
    line-height: 100px;
  }

  .globes {
    width: var(--size);
    height: var(--size);
    transform: translateX(40px);

    display: flex;
    justify-content: space-around;
  }

  .pack {
    position: relative;
    width: var(--globe);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .globe {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 100% 100% 0;
    transform: rotateZ(45deg);
  }

  .rope {
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: var(--text);
    /*transform: rotateZ(-45deg) translateX(-50%);*/
  }

  .green {
    transform: rotate(-20deg) translate(28px, 17px);

    .globe {
      background-color: var(--green);
    }
  }

  .yellow .globe {
    background-color: var(--yellow);
  }

  .pink {
    transform: rotate(20deg) translate(-28px, 17px);

    .globe {
      background-color: var(--pink);
    }
  }
}
