.Up {
  --text: #fff;
  --bg: #009fe3;
  --green: #9c3;
  --yellow: #ff0;
  --pink: #f06;
  --size: 100px;

  color: var(--text);
  background-color: var(--bg);

  .scene {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 194px;
    height: 100px;
    transform: translate(-50%, -50%);
  }

  .home {
    font-family: Arial;
    font-weight: bold;
    color: var(--text);
    font-size: 138px;
    line-height: 100px;
  }

  .globes {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 237px;
    height: 276px;
  }

  .globe {
    position: absolute;
    width: var(--size);
    height: var(--size);
    border-radius: 100% 100% 0;
    transform: rotateZ(45deg);
  }

  .rope {
    position: absolute;
    top: 100%;
    width: 1px;
    height: 100%;
    background-color: var(--text);
    transform: rotateZ(-45deg);
  }

  .green {
    top: 30px;
    left: 0;
    background-color: var(--green);

    .ropeX {
      width: 130px;
      height: 1px;
    }
  }

  .yellow {
    top: 30px;
    left: 72px;
    background-color: var(--yellow);

    .ropeX {
      width: 115px;
      height: 1px;
    }
  }

  .pink {
    top: 0px;
    right: 0;
    background-color: var(--pink);

    .ropeX {
      width: 155px;
      height: 1px;
    }
  }
}
