.KillBill {
  --duration: 2s 1s;

  background-color: var(--bg);
  color: var(--text);
  overflow: hidden;

  .blood {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--blood);
  }

  &.active .blood {
    animation: blood var(--duration) linear forwards;
  }

  .sword {
    position: absolute;
    top: 50%;
    width: 423px;
    height: 71px;
    transform: translateX(-100%);

    left: -120px;
    zoom: 0.7;

    @media (min-width: 375px) {
      zoom: 0.8;
    }
    @media (min-width: 414px) {
      left: -70px;
      zoom: 0.9;
    }
    @media (min-width: 768px) {
      zoom: 0;
    }
  }

  &.active .sword {
    animation: kill var(--duration) ease-in forwards;
  }

  @keyframes kill {
    0% {
      transform: translateX(-100%);
    }
    10% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes blood {
    8% {
      opacity: 0;
    }
    10% {
      opacity: 0.6;
    }
    100% {
      opacity: 0;
    }
  }
}
