.home-alone {
  & {
    background-color: var(--bg, #222);
    color: var(--text, #aaa);
  }

  .title {
    color: #eee;
    text-align: center;
    position: absolute;
    bottom: 14%;
    width: 100%;
    font-size: 31px;
    font-weight: bold;
  }

  .pack {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rope {
    width: 1px;
    height: 320px;
    background-color: #777;
  }

  .paint {
    position: relative;
    width: 81px;
    height: 92px;
    background-color: #fff;

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 100%;
      height: 24px;
      content: '';
      background-color: inherit;
      border-radius: 100%;
    }

    &::after {
      top: 0;
      transform: translatey(-50%);
      outline: 1px solid #aaa;
      outline-offset: -4px;
    }

    &::before {
      bottom: 0;
      transform: translatey(50%);
    }
  }

  .Harry {
    left: 24%;

    path {
      fill: #bab062;
    }
  }

  .Marv {
    right: 24%;

    path {
      fill: #ab3624;
    }
  }
}
