.TheMatrix {
  background-color: var(--bg);
  color: var(--text);

  .canvas {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 60%;
    margin: 20% auto 0;
  }

  .col {
    position: relative;
    width: 5%;
    height: 100%;
    background-color: var(--text);
    z-index: 1;
  }

  .col:nth-child(odd):after {
    position: absolute;
    top: -5%;
    content: '';
    display: block;
    width: 100%;
    height: 5%;
    background-color: var(--bg);
    animation: text linear infinite;
  }

  .col:nth-child(1):after {
    animation-duration: 1.6s;
  }

  .col:nth-child(3):after {
    animation-duration: 1.8s;
  }

  .col:nth-child(5):after {
    animation-duration: 2s;
  }

  .col:nth-child(7):after {
    animation-duration: 2.2s;
  }

    .col:nth-child(9):after {
    animation-duration: 2.4s linear infinite;
  }

  @keyframes text {
    100% {
      top: 100%;
    }
  }
}
