:root {
  --wrapper-bg-color: #63a0ba;
  --wrapper-text-color: #fff;
  --poster-bg-color: #77b1c9;
  --poster-color-1: #fff;
}

.poster {
  perspective: 800px;
  perspective-origin: 50% 25%;
  background-color: #77b1c9;
  color: white;
}

.poster h1,
.poster h4 {
  position: absolute;
  right: 0;
  bottom: 51px;
  left: 0;
  font-size: 33px;
  text-align: center;
}

.poster h1 {
  bottom: 51px;
  font-size: 33px;
  letter-spacing: 1px;
}

.poster h4 {
  bottom: 34px;
  font-size: 13px;
  font-weight: normal;
}

@keyframes spin {
  from {
    transform: translateZ(115px) translateY(-140px) rotateY(-45deg);
  }
  to {
    transform: translateZ(115px) translateY(-140px) rotateY(45deg);
  }
}

.poster .park-bench {
  position: absolute;
  top: 333px;
  left: 135px;
  width: 230px;
  height: 230px;
  transform-style: preserve-3d;
  animation: spin 15s infinite ease-in-out alternate;
}

.poster .park-bench {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  height: 230px;
  margin-left: -115px;
  margin-top: -115px;
  transform-style: preserve-3d;
}

.poster .plank {
  position: absolute;
  width: 100%;
  height: 12px;
  background-color: #fff;
}

.poster .plank-1 {
  transform: rotateX(-180deg) translateZ(0) translateY(-132px);
}

.poster .plank-2 {
  transform: rotateX(-180deg) translateZ(0) translateY(-146px);
}

.poster .plank-3 {
  transform: rotateX(-180deg) translateZ(0) translateY(-160px);
}

.poster .plank-4 {
  height: 46px;
  transform: rotateX(-90deg) translateZ(160px) translateY(0) translateY(-29px);
}

.poster .leg {
  position: absolute;
  width: 11px;
  height: 105px;
  background-color: #fff;
}

.poster .leg-1 {
  transform: rotateX(-180deg) translateZ(0) translateY(-122px) translateX(25px);
}

.poster .leg-2 {
  transform: rotateX(-180deg) translateZ(0) translateY(-122px) translateX(191px);
}

.poster .leg-3 {
  height: 45px;
  transform: rotateX(-180deg) translateZ(-50px) translateY(-182px)
    translateX(25px);
}

.poster .leg-4 {
  height: 45px;
  transform: rotateX(-180deg) translateZ(-50px) translateY(-182px)
    translateX(191px);
}
