.ForrestGump {
  --bg: #77b1c9;
  --text: #ffffff;

  perspective: 800px;
  perspective-origin: 50% 25%;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes spin {
    from {
      transform: rotateY(-45deg);
    }
    to {
      transform: rotateY(45deg);
    }
  }

  .park-bench {
    zoom: 0.7;
    width: 230px;
    height: 230px;
    transform-style: preserve-3d;
    animation: spin 6s infinite ease-in-out alternate;
  }

  @media (min-width: 400px) {
    .park-bench {
      zoom: 1;
    }
  }

  .plank {
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: var(--text);
  }

  .plank-1 {
    transform: rotateX(-180deg) translateZ(0) translateY(-132px);
  }

  .plank-2 {
    transform: rotateX(-180deg) translateZ(0) translateY(-146px);
  }

  .plank-3 {
    transform: rotateX(-180deg) translateZ(0) translateY(-160px);
  }

  .plank-4 {
    height: 46px;
    transform: rotateX(-90deg) translateZ(160px) translateY(0) translateY(-29px);
  }

  .leg {
    position: absolute;
    width: 11px;
    height: 105px;
    background-color: var(--text);
  }

  .leg-1 {
    transform: rotateX(-180deg) translateZ(0) translateY(-122px)
      translateX(25px);
  }

  .leg-2 {
    transform: rotateX(-180deg) translateZ(0) translateY(-122px)
      translateX(191px);
  }

  .leg-3 {
    height: 45px;
    transform: rotateX(-180deg) translateZ(-50px) translateY(-182px)
      translateX(25px);
  }

  .leg-4 {
    height: 45px;
    transform: rotateX(-180deg) translateZ(-50px) translateY(-182px)
      translateX(191px);
  }
}
