.Titanic {
  --bg: #354463;
  --text: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-color: var(--bg);

  .scene {
    position: relative;
    width: 200px;
    height: 283px;
  }

  .iceberg {
    fill: white;
    margin-bottom: 2px;
  }

  .underwater {
    fill: #ffffff60;
  }

  .transatlantic {
    position: absolute;
    top: 84px;
    left: 110px;
    height: 24px;
    transform: translateY(-100%);
    fill: var(--bg);
  }

  &.active .transatlantic {
    animation: bye 40s infinite;
  }

  @keyframes bye {
    100% {
      left: 90px;
      height: 0;
    }
  }
}
