@tailwind base;
@tailwind components;
@tailwind utilities;

.FrameXXX {
  color: var(--text, #fff);
  background: var(--bg-dark, #000);
}

.Header {
  color: var(--text, #fff);
  background: var(--bg, #000);
}
