@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.PosterLayout {
  color: var(--text, #fff);
  background: var(--bg-dark, #000);
}

.Nav {
  color: var(--text, #fff);
  background: var(--bg, #000);
}
