// The Matrix

$color: #32b050;
$color2: #000;

// columns
$cols-total: 8;
$canvas-width: 60%;
// 300px;
$canvas-height: 60%;
// 430px;
$col-width: 5%;
$col-margin: 13.5%;
$margin-top: 20%;
// 105px

$speed: 1.5s;
$debug: false;

body.the-matrix {
  perspective: 1000px;
  perspective-origin: 50% 25%;
}

.the-matrix .poster {
  overflow: hidden;
  background-color: $color2;
  color: #000;

  .title,
  .subtitle {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;

    text-align: center;
    color: $color;

    // Do not show titles on mobile in landscape orientation
    @include at-landscape {
      display: none;
    }
  }

  .title {
    bottom: 51px;
    margin: 22px 0;

    font-size: 33px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .subtitle {
    bottom: 34px;
    margin: 17px 0;

    font-size: 13px;
  }

  .canvas {
    position: relative;
    width: $canvas-width;
    height: $canvas-height;
    margin: $margin-top auto 0;

    // Vertical center for mobile in landscape
    @include at-landscape {
      margin-top: 12%;
    }
  }

  .col {
    position: absolute;
    top: 0;
    width: $col-width;
    height: 100%;
    background-color: $color;
    z-index: 1;

    &::after {
      position: absolute;
      left: 0;
      content: '';

      display: block;
      width: 100%;
      height: $col-width;
      background-color: $color2;
    }
  }

  @for $i from 0 through $cols-total {
    .col:nth-child(#{$i+1}) {
      left: $col-margin * $i;

      &:after {
        @if ($i % 2 == 0) {
          @keyframes text#{$i} {
            from {
              top: -$col-width;
            }
            to {
              top: 100%;
            }
          }
          animation: text#{$i} #{(($i+1)*+100) + 1500}ms linear infinite;
        } @else {
          display: none;
        }
      }
    }
  }
}
